:root {
  --clr-primary-theme: rgb(224, 77, 190);

  --clr-secondary-light: #f7f7f7;
  --clr-secondary-100: #e8e8ea;
  --clr-secondary-200: #dcdddf;
  --clr-secondary-400: #97989f;
  --clr-secondary-500: #696a75;
  --clr-secondary-600: #3b3c4a;
  --clr-secondary-800: #181a2a;
  --clr-secondary-900: #141624;

  --clr-hover: rgb(243, 203, 175);
  --clr-hover1: #fae1f4;
  --clr-active-button: rgb(225, 148, 207);
}
